section#sec-1.section.style-frame(setBackground="./img/bg/bg-1.png")
	.container 
		.wrapper-content 
			.section-title.color-white Thiết kế phá cách
			.content 
				p New Santa Fe sở hữu tạo hình tiên phong về thiết kế, đem đến cho bạn một chiếc SUV mạnh mẽ, nam tính và không kém phần sang trọng. Chiếc xe là sự cân bằng hoàn hảo tạo cho bạn khí chất tiên phong dẫn lối thành công.
				.button 
					a.btn.btn-booking(data-fancybox data-src="#finish" href="javascript:;") 
						em.material-icons add
						|Đặt hàng ngay
