#check-infor.check-infor 
	.wrapper-content
		.popup-title xác thực thông tin
		.form-group 
			label(for="") Số điện thoại
			input(type="text" placeholder="0908 4560789") 
		.button 
			a.btn.btn-check(href="") Xác thực
		.wrap-face-login 
			label(for="") Hoặc
			a.btn.btn-face(href="")
				em.ri-facebook-fill
				|Đăng nhập bằng facebook
			a.btn.btn-google(href="")
				em.ri-google-fill
				|Đăng nhập bằng Google