#otp.otp 
	.wrapper-content
		.popup-title mã xác thực
		.form-group 
			label(for="") Vui lòng nhập mã xác thực đã được gửi đến số điện thoại xxx-xxx-789
			input(type="text")
			p Mã xác thực ( 00:59)
		a.btn.btn-confirm(href="") Xác thực
		a.btn.btn-core(href="") Gửi lại mã xác thực