#advisory.advisory
	.wrapper-content
		.popup-title yêu cầu tư vấn
		.form-row
			.form-group
				label Tỉnh/ Thành phố
				select
					option(value="" selected) Tp Hồ Chí Minh
					option(value="") Tp Hồ Chí Minh
			.form-group
				label Showroom/ Đại lý
				select
					option(value="" selected) Hyundai Lý Chính Thắng
					option(value="") Hyundai Lý Chính Thắng
			.form-group
				label Họ tên
					span *
				input(type="text")
			.form-group
				label Số điện thoại
					span *
				input(type="text")
			.form-group
				label Email
				input(type="text")
			.form-group
				label Model xe
				select
					option(value="" selected) SmartStream G2.5 (Xăng)
					option(value="") SmartStream G2.5 (Xăng)
		.form-row
			.form-group
				label Phiên bản
				select
					option(value="" selected) Cao cấp
					option(value="") Cao cấp
			.form-group
				label Màu sắc
				select
					option(value="" selected) Chọn màu
					option(value="") Đỏ lè
		.button 
			a.btn.btn-check-out(href="") Yêu cầu tư vấn