#warning.warning
	.wrapper-content
		.popup-title mã xác thực
		.form-group 
			label(for="") Vui lòng nhập mã xác thực đã được gửi đến số điện thoại xxx-xxx-789
			input(type="text")
			p 
				img(src="./img/icon/warning.png", alt="")
				|Mã xác nhận chưa chính xác. Quý khách còn 3 lần nhập.
		a.btn.btn-confirm(href="") Xác thực
