section#sec-6.section.feature-frame 
	.container 
		.section-title.text-center.color-white Tính năng vượt trội
		.hero-feature
			.row 
				.col-lg-6.col-md-6.col-sm-6
					.wrap-content 
						.title Cần số dạng nút bấm
				.col-lg-6.col-md-6.col-sm-6 
					.wrap-img.zoom-img 
						.img 
							img.lazyload(data-src="./img/home/i-4.png", alt="")
		.hero-feature
			.row
				.col-lg-6.col-md-6.col-sm-6 
					.wrap-content 
						.title Đèn chiếu sáng LED tự động thích ứng
				.col-lg-6.col-md-6.col-sm-6 
					.wrap-img.zoom-img 
						.img 
							img.lazyload(data-src="./img/home/i-6.png", alt="")
		.hero-feature
			.row
				.col-lg-6.col-md-6.col-sm-6 
					.wrap-content 
						.title Hệ thống an toàn chủ động
							br
							|HYUNDAI SMART SENSE
				.col-lg-6.col-md-6.col-sm-6 
					.wrap-img.zoom-img 
						.img 
							img.lazyload(data-src="./img/home/i-7.png", alt="")
