section#sec-8.section.special-offers-frame 
	.container 
		.section-title.text-center.color-white Ưu đãi dành cho khách hàng
		.special-slide 
			.swiper-container
				.swiper-wrapper
					-for(i=1; i<5; i++)
						.swiper-slide
							.swiper-inner
								.img
									a(href="")
										img.lazyload(data-src="./img/home/i-9.png", alt="")

								.wrap-content 
									.line 
										span 
										span 
										span
									.content
										.text
											.title Hyundai Santa Fe trả trước 275 triệu nhận xe
											.desc 
												p Thế hệ mới nhất của Hyundai Santa Fe sẽ làm bạn ngạc nhiên hơn nữa khi được xếp hạng 2 trong phân khúc SUV hạng trung và hạng 4 trong phân khúc SUV crossover, trực tiếp đánh bại nhiều cái tên sừng sỏ khác.
										.button 
											a.btn.btn-booking(href="") 
												em.material-icons add
												|Đặt hàng ngay


			.swiper-button-next 
			.swiper-button-prev 
