section#sec-4.section.advantages-frame 
	.container 
		.section-title.color-white.text-center Ưu điểm đặc biệt
		.wrapper-list.zoom-img 
			.img 
				a(href="") 
					img.lazyload(data-src="./img/home/i-2.png", alt="")
			.content 
				.title Chế độ lái
				.desc 
					p 4 chế độ Eco-Comfort-Sport-Smart giúp thay đổi vào hệ thống lái, động cơ, hộp số,.. Nhằm phù hợp với nhu cầu và phong cách của khách hàng
		.wrapper-list.zoom-img 
			.img 
				a(href="") 
					img.lazyload(data-src="./img/home/i-3.png", alt="")
			.content 
				.title Chế độ địa hình
				.desc 
					p Linh hoạt với 3 chế độ địa hình Snow (Tuyết) –Mud (Bùn)- Sand (Cát).
		.wrapper-list.zoom-img 
			.img 
				a(href="") 
					img.lazyload(data-src="./img/home/i-4.png", alt="")
			.content 
				.title Tiện lợi
				.desc 
					p Sạc không dây chuẩn Qi cùng hệ thống camera 360 độ giúp người lái có thể nhìn bao quát hơn. Đồng thời mọi thông tin đều được hiển thị trên kính lái HUD mang lại cảm giác tiện lợi.	
