section#sec-3.section.engine-frame(setBackground="./img/bg/bg-2.png")
	.wrapper-content 
		.container 
			.row 
				.col-lg-4.col-md-12
					.item 
						.section-title Động cơ hoàn hảo vận hành an toàn
						.content 
							p 2 loại động cơ xăng và dầu mang đến trải nghiệm tuyệt vời cho người lái.
						.button 
							a.btn.btn-booking(href="") 
								em.material-icons add
								|Đặt hàng ngay
				.col-lg-4.col-md-6
					.item 
						.content
							.icon 
								img(src="./img/icon/v4.png", alt="")
							.desc 
								.title Động cơ xăng SmartStream G2.5
								p Công suất cực đại (PS/rpm): 180 / 6,000
								p Mô men xoắn cực đại (Nm/rpm): 232 / 4000
				.col-lg-4.col-md-6
					.item 
						.content
							.icon 
								img(src="./img/icon/v4.png", alt="")
							.desc 
								.title Động cơ dầu SmartStream D2.2
								p Công suất cực đại (PS/rpm): 202 / 3.800
								p Mô men xoắn cực đại (Nm/rpm): 440 / 1.750 - 2.750



