.engine-frame
	width: 100%
	height: 100vh
	background: $black
	position: relative
	background-attachment: fixed
	background-repeat: no-repeat
	overflow: hidden
	.wrapper-content
		height: 100vh
		display: flex
		align-items: flex-end
		padding-bottom: 215px
		.item
			.section-title
				padding-bottom: 29px
				color: $white
			.content
				.icon
					padding-bottom: 26px
					padding-top: 70px
				.title
					color: $white
					font-size: 18px
					line-height: 26px
					font-weight: 700
				p
					color: $white
					font-size: r(18px)
					line-height: 26px
					font-weight: 400
		.col-lg-4
			&:first-child
				.item
					.content
						padding-right: 120px
						margin-bottom: 45px
		@media screen and ( max-width: 1440px )
			padding: 0 105px
			align-items: center
			.item
				.content
					p
						font-size: r(14px)

		@media screen and ( max-width: 1199.98px )
			padding: 0
			bottom: 30px
			.item
				.content
					.icon
						padding-bottom: 10px
				.section-title
					padding-bottom: 15px
			.col-lg-4
				&:first-child
					.item
						.content
							margin-bottom: 15px
		@media screen and ( max-width: 575.98px )
			.item
				margin-bottom: 30px
				.content
					.icon
						padding-top: 0
	@media screen and ( max-width: 575.98px )
		background-attachment: scroll
