section#sec-2.section.technology-frame 
	.hero-frame
		.wrap-img 
			.img
				img.lazyload(data-src="./img/home/i-1.png", alt="")
		.wrap-content 
			.section-title Công nghệ vượt thời gian
			.content 
				p New Santa Fe được trang bị khung gầm được nâng cấp để đảm bảo sự chắc chắn đồng thời tăng cường khả năng vận hành. Bên cạnh đó, động cơ & hộp số mới cùng hệ dẫn động 4 bánh thông minh H-TRAC giúp xe vận hành linh hoạt hơn trên đa dạng địa hình.
			.button 
				a.btn.btn-booking(href="") 
					em.material-icons add
					|Đặt hàng ngay
