footer 
	.container
		.hero-footer 
			.wrap-top
				.row 
					.col-lg-3
						.wrap-logo 
							a(href="") 
								img.lazyload(data-src="./img/logo.png", alt="")
					.col-lg-5
						.wrap-infor 
							.title 
								h1 Công ty cổ phần liên doanh ô tô Hyundai Thành Công Việt Nam (HTC - vn ., JSC)
							.content 
								ul 
									li 
										p Trụ sở chính: KCN Gián Khẩu, Gia Trấn, Gia Viễn, Ninh Bình
									li 
										p Văn phòng Hà Nội: Thành Công Tower, số 79 Dịch Vong Hậu, Cầu Giấy, Hà Nội.
									li 
										p Mã số doanh nghiệp: 2700668614. Đăng kí lần đầu ngày 28/5/2013. Đăng kí thay đổi lần thứ 5 ngày 18/11/2020
									li 
										p Thông tin liên hệ: cs@hyundai.tcmotor.vn - Hotline: +84 (24) 37951116
					.col-6.col-lg-2
						.wrap-end 
							.title Hỗ trợ khách hàng
							ul 
								li 
									a(href="") Chính sách bảo hành
								li 
									a(href="") Tìm đại lý
								li 
									a(href="") Chăm sóc khách hàng
								li 
									a(href="") Đăng ký nhận bản tin
					.col-6.col-lg-2
						.wrap-end 
							ul 
								li 
									a(href="") Hướng dẫn mua hàng
								li 
									a(href="") Chính sách giao hàng

								li 
									a(href="") Hình thức thanh toán

								li 
									a(href="") Chính sách bảo hành đổi trả
								li 
									a(href="") Chính sách bảo mật thông tin
									

			.wrap-coppyright 
				.socail 
					ul 
						li 
							a(href="")
								em.fab.fa-facebook-f
						li 
							a(href="") 
								em.fab.fa-instagram
						li 
							a(href="") 
								em.fab.fa-youtube
				p.design-by-canhcam
					|Copyright © 2021 TC Motor. All Rights Reserved. 
					a(href='https://www.canhcam.vn/thiet-ke-website-chuyen-nghiep' target='_blank') Thiết kế website
					| bởi
					a(href='https://www.canhcam.vn' target='_blank')  Canh Cam
				.wrap-ctlogo 
					img(src="./img/home/footer-ct.png", alt="")
