.library-frame
	overflow: hidden
	.section-title
		padding-bottom: 31px
	.tabs_wrapper
		width: 100%
		.tabs
			ul
				display: flex
				align-items: center
				justify-content: center
				padding: 4px
			&.tabs-parent
				width: 400px
				height: 40px
				margin: 0 auto
				border-radius: 20px
				background: $white-f4
				@media screen and ( max-width: 575.98px )
					width: 100%
				li
					width: 120px
					height: 32px
					a
						display: flex
						align-items: center
						justify-content: center
						width: 100%
						height: 100%
						color: $gray
						font-size: 14px
						font-weight: 500
						letter-spacing: -0.35px
					+ li
						margin-left: auto
					&.active
						box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1)
						border-radius: 16px
						background: $white
						a
							color: $black-1
							font-size: 14px
							font-weight: 700
							text-transform: uppercase
							letter-spacing: -0.35px
			&.tabs-child
				display: flex
				align-items: center
				justify-content: center
				.label
					padding-right: 30px
					color: $gray
					font-size: 16px
					font-weight: 400
					line-height: 26px
					text-transform: uppercase
				ul
					li
						width: 36px
						height: 36px
						border-radius: 18px
						border: 1px solid $gray-e5
						a
							img
								width: 100%
								height: 100%
						+ li
							margin-left: 15px
						&.active
							width: 46px
							height: 46px
							border-radius: 23px
							border: 3px solid $blue-00
				@media screen and ( max-width: 575.98px )
					ul
						flex-wrap: wrap
						flex-direction: row
						.label
							width: 100%
							text-align: center
							padding: 0
		.tabs_content
			.tab_content
				display: none
				.panel
					padding: 30px 0
					position: relative
					.img
						max-width: 1280px
						margin: 0 auto
						+img-scale(.4)
						@media screen and ( max-width: 575.98px )
							+img-scale(.8)
					.swiper-button-next,
					.swiper-button-prev
						width: 32px
						height: 32px
						border-radius: 16px
						background: $white-f4
						&::after
							color: $black-1
							font-family: Material Icons
							font-size: r(18px)
							font-weight: 400
							line-height: 30px
							text-align: center
						&:focus
							outline: none
					.swiper-button-next
						right: 62px
						&::after
							content: 'chevron_right'
					.swiper-button-prev
						left: 62px
						&::after
							content: 'chevron_left'
					@media screen and ( max-width: 575.98px )
						.swiper-button-next
							right: 0
						.swiper-button-prev
							left: 0
				&.active
					display: block
