section#sec-7.section.library-frame 
	.container 
		.section-title.text-center.color-black Thư viện
		.container--tabs
			ul.nav-tabs
				li
					a(href="#tab-1") Video
				li.active 
					a(href="#tab-2") 360
						sup 0
				li
					a(href="#tab-3") Hình ảnh
			.tab-content
				#tab-1.tab-panel
				#tab-2.tab-panel.active
					.slide-panel
						.swiper-container.gallery-top
							.swiper-wrapper
								-for(i=1; i<7; i++)
									.swiper-slide
										.swiper-inner
											.img
												img.lazyload(data-src="./img/home/i-8.png", alt="")
											.icons 
												img(src="./img/icon/360.png", alt="")
						.thumbs
							.title Màu xe:
							.swiper-container.gallery-thumbs
								.swiper-wrapper
									-for(x=1; x<7; x++)
										.swiper-slide
											.color-item
												img(src="./img/icon/cl-"+x+".png", alt="")
							
				#tab-3.tab-panel
