section#sec-7.section.library-frame 
	.container 
		.section-title.text-center.color-black Thư viện
		.tabs_wrapper
			#new_tabs.tabs.tabs-parent
				ul
					li.active
						a(href='#pending' rel='pending') 1
					li
						a.icon(href='#finished' rel='finished') 2
					li
						a(href='#cancelled' rel='cancelled') 3
			#new_tabs_content.tabs_content(style='padding:0')
				#pending.tab_content(style='display: block;')
					.tabs_wrapper
						#new2_tabs.tabs.tabs-child
							ul
								li.active
									a(href='#otherone' rel='otherone') 1.1
								li
									a.icon(href='#othertwo' rel='othertwo') 1.2
								li
									a(href='#otherthree' rel='otherthree') 1.3
						#new2_tabs_content.tabs_content(style='padding:0')
							#otherone.tab_content(style='display: block; !important')
								p TEST1
							#othertwo.tab_content
								p TEST2
							#otherthree.tab_content
								p TEST3
				#finished.tab_content
					.tabs_wrapper
						#new2_tabs.tabs.tabs-child
							ul
								li.active
									a(href='#otherone' rel='otherone') 1.1
								li
									a.icon(href='#othertwo' rel='othertwo') 1.2
								li
									a(href='#otherthree' rel='otherthree') 1.3
						#new2_tabs_content.tabs_content(style='padding:0')
							#otherone.tab_content(style='display: block; !important')
								p TEST1
							#othertwo.tab_content
								p TEST2
							#otherthree.tab_content
								p TEST3
				#cancelled.tab_content
					p TEST3
