header.hero-header
	nav.navbar
		.navbar-brand
			a(href='index.html')
				img(src='./img/logo.png')
		.navbar-menu
			ul.navbar-start
				li.nav-item 
					a.nav-link.fw-500.color-white(href="#sec-1") Phong cách thiết kế
				li.nav-item 
					a.nav-link.fw-500.color-white(href="#sec-2") Công nghệ
				li.nav-item 
					a.nav-link.fw-500.color-white(href="#sec-3") Khám phá
				li.nav-item 
					a.nav-link.fw-500.color-white(href="#sec-4") Tiêu chuẩn an toàn
				li.nav-item 
					a.nav-link.fw-500.color-white(href="#sec-5") Video
				li.nav-item 
					a.nav-link.fw-500.color-white(href="#sec-6") Ưu điểm
				li.nav-item 
					a.nav-link.fw-500.color-white(href="#sec-7") 360
						sup 0
				li.nav-item 
					a.nav-link.fw-500.color-white(href="#sec-8") Ưu đãi
				li.nav-item 
					a.nav-link.fw-500.color-white(href="") Đặt mua xe
			.navbar-end.d-flex.align-center
				.language
					.language-active.dropdown 
						a.f-12.color-white(href="") EN 
						em.material-icons.f-14.color-white expand_more
						ul.dropdown-menu 
							li 
								a(href="") VN 
							li 
								a(href="") EN
				a.btn.btn-toggle(href="javascript:;")
					span
					span
					span
					span



